body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


/*
 * For webrtc view
 */
#webrtc-room-view .container-fluid div video {
  width: 100%;
}

#webrtc-room-view button {
  width: 30px;
  height: 30px;
}

#webrtc-room-view .container-fluid .row {
  max-width: 700px;
}

#webrtc-room-view #vid1 {
  margin: 0 auto;
}