<div id="webrtc-room-view">
    Room: {{ roomId }}
    Streamers:  {{ streamingUsers.length }} / {{ streamingUsersLimit }}

    --debug-Streamers:  {{ streamingUsers }}
    --debug-sharingVideo:  {{ isStreaming }}
    --debug-streamid:  {{ streamid }}

    <button class="pull-right glyphicon glyphicon-facetime-video" ng-click="clickVideoIcon();"></button>
    <div class="container-fluid">
        <div class="row">
            <div id="vid1" class="col-xs-12"></div>
        </div>
        <div class="row">
            <div id="vid2" class="col-xs-4"></div>
            <div id="vid3" class="col-xs-4"></div>
            <div id="vid4" class="col-xs-4"></div>
        </div>
    </div>

    <div id="testVideoContainer"></div>
</div>