<div>
    Room: {{ roomId }}
    Streamers:  {{ streamingUsers.length }} / {{ streamingUsersLimit }}

    --debug-Streamers:  {{ streamingUsers }}

    <div class="container-fluid">
        <div class="row">
            <div id="vid1" class="col-xs-12">First</div>
        </div>
        <div class="row">
            <div id="vid2" class="col-xs-4">Second</div>
            <div id="vid3" class="col-xs-4">Third</div>
            <div id="vid4" class="col-xs-4">Fourth</div>
        </div>
    </div>

    <div id="testVideoContainer"></div>
</div>