/*
// Muaz Khan         - www.MuazKhan.com
// MIT License       - www.WebRTC-Experiment.com/licence
// Experiments       - github.com/muaz-khan/WebRTC-Experiment
*/

@font-face {
    font-family: 'Myriad';
    src: url('//www.webrtc-experiment.com/fonts/MyriadPro-Light.otf') format("opentype");
    font-weight: 400;
}

body, body * {
    padding: 0;
    margin: 0;
    outline: none;
    -webkit-user-drag: none;
    font-family: Myriad, Arial, Verdana;
}

html {
    background: rgb(247, 253, 244);
}

body {/*
    border-right: 2px solid rgb(23, 228, 56);
    border-left: 2px solid rgb(80, 238, 29);*/
    margin: 0 2%;
    background: white;/*
    font-size: 1.2em;*/
    font-size: 1em;
    line-height: 1.5em;
    max-width: 900px;
}

body {
    padding: 30px 30px;
}

#info-bar {
    height: 3em;
    width: 100%;
}

#info-bar div {
    float: left;
}

/*
.numbers-of-users {
    position: absolute;
    font-size: 3em;
    left: 38%;
    top: 60px;
}
*/

/*
.users-list {
    position: absolute;
    right: 63px;
    padding: 0;
    color: white;
    margin-top: 0px;
    width: 118px;
    height: 110px;
    cursor: default;
    border-radius: 0;
    border-top-right-radius: 20px;
}

.users-list.selected {
    background-color: black;
}
*/

#info-bar .controls {
    float: right;
}

#info-bar .settings {
    float: right;
    padding-left: 3px;
}

#settings {
    background-repeat: no-repeat;/*
    background-position: center right;
    background-position: center center;
    background-image: url('images/settings.png');
    padding-right: 35px;
    margin-top: -1px;*/
}

.icon {/*
    width: 3em;
    height: 3em;*/
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center center;
}

.glyphicon {
    horiz-align: center;
    vertical-align: middle;
}

/*
.settings {
    position: absolute;
    top: 33px;
    right: 210px;
}
*/

.main {
    border: 1px solid black;
    border-radius: 6px;
}

.new-message {/*
    min-height: 7em;
    border-top: 1px solid black;*/
}

.new-message:first-child {
    border-top: 0;
}
/*
.user-info {
    width: 10em;
    min-height: 7em;
    float: left;
    border-right: 1px solid black;
    text-align: center;
}

.user-info img, .user-info video {
    width: 100%;
    height: 134px;
}

.user-info audio {
    width: 100%;
}
*/

.user-activity {/*
    margin-left: 10em;
    padding: .4em .8em;*/
}

.header {
}

.message {
    padding: .6em .8em;
}

.message img, .message iframe {
    width: 64%;
    border: 2px solid black;
    border-radius: 5px;
}

.main-input-box {
    border: 1px solid black;
    border-bottom: 0;
    padding-bottom: 1px;
    text-align: right;
    margin-left: 193px;
    margin-right: 125px;
    padding-right: 21px;
}
/*
.main-input-box textarea {
    border: 0;
    width: 100%;
    resize: none;
    padding: .4em .8em;
    font-size: inherit;
    font-family: inherit;
    padding-right: 177px;
    background: transparent;
}
*/

button/*, .users-list*/
{
	cursor: pointer;
	display:inline-block;/*
	font-size: 20px;*/
    font-size: 1em;
	color: black;
	border: 1px solid rgba(100, 100, 100, 0.59);
	border-radius: 2px;
}
button:hover/*, .users-list:hover*/
{
	 /*background-color: rgba(204, 60, 25, 0.83);*/
    background-color: rgba(51, 51, 51, 0.35);
}
button:active/*, .users-list:active*/
{
     /*background-color: rgba(204, 60, 25, 0.9);*/
    background-color: rgba(51, 51, 51, 0.60);
}

button[disabled], input[type=button][disabled] {
    background-color: transparent;
    border: 1px solid rgb(187, 181, 181);
    color: gray;
    text-shadow: none;
}
/*
#allow-webcam {
    background-image: url('images/webcam.png');
}*/

.glyphicon {
    font-size: 1.5em;
}

#allow-mic {
    background-image: url('images/microphone.png');
}

#allow-screen {
    background-image: url('images/screen.png');
}

#share-files {
    background-image: url('images/share-files.png');
}

#continue {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url('images/action-needed.png');
    padding-right: 47px;
	padding-top: 1px;
	padding-bottom: 4px;
}

a {
    color: #2844FA;
    text-decoration: none;
}

a:hover, a:focus {
    color: #1B29A4;
}

a:active {
    color: #000;
}

input {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    font-size: 15px;
    height: 32px;
    width: 200px;
    margin-top: .5em;
    padding: 0 8px;
    -moz-user-select: initial;
    -o-user-select: initial;
    -webkit-user-select: initial;
    -ms-user-select: initial;
    user-select: initial;
}

input[type=checkbox] {
    width: 30px;
    height: 30px;
    margin: 0;
    vertical-align: middle;
}

h1 {
    position: absolute;
    color: rgb(10, 175, 253);
    text-shadow: 1px 1px rgb(7, 129, 160);
}

h1 img {
    width: 160px;
    height: 60px;
}

/*
.users-list img {
    width: 82%;
    height: 104px;
}
*/

.users-container, .settings-panel {/*
    margin: 0 0 13px 0;*/
    border: 1px solid black;
    /*overflow: hidden;*/
    border-radius: 5px;
}

.users-container {
    position: relative;
    height: 600px;/*
    max-width: 640px;*/
    border-color: darkgreen;
}

.settings-panel {
    height: 600px;
    display: none;
}

/*
.users-container video {
    height: 100%;
}
*/

.users-container .primary-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 65%;
    width: 99%;/*
    max-width: 640px;
    max-height: 480px;*/
    border: double;
    border-color: red;
    display: none;
}

.users-container .primary-video video {
    height: 100%;
    width: 100%;
}

.users-container .secondary-video {
    position: relative;
    top: 65%;
    left: 0;
    height: 35%;
    width: 32.6%;
    border: solid;
    border-color: green;
    float: left;
    display: none;
}

.users-container .secondary-video video {
    height: 100%;
    width: 100%;
}

.self-url {
    position: absolute;
    top: 5px;
    left: 251px;
    height: 25px;
    overflow: hidden;
}

#save-settings {
    border-color: rgb(100, 100, 100);
}

.settings-panel {
    height: auto;
    overflow: hidden;
    padding: .4em .8em;
}

strong {
    color: rgb(204, 14, 14);
    font-family: inherit;
    font-weight: normal;
}

tr, td, th {
    vertical-align: top;
    padding: .7em 1.4em;
    border-top: 1px dotted #BBA9A9;
    border-right: 1px dotted #BBA9A9;
}

table {
    width: 100%;
}

h1, h2 {
    border-bottom: 1px solid rgb(189, 189, 189);
    display: inline;
    font-weight: normal;
    line-height: 36px;
    padding: 0 0 3px 0;
}

.new-message h2 {
    font-size: 1em;
    font-weight: bold;
    border-bottom: none;
}

select {
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    padding: .4em .4em;
    margin-top: 5px;
}

label.adjust-width {
    display: inline-block;
    width: 30%;
}

small {
    display: inline-block;
    vertical-align: middle;
}

.smiley {
    width: 20px!important;
    height: 20px;
    border: 0!important;
    vertical-align: middle;
}
#who-is-typing
{
	text-align: left;
	position: absolute;
	margin: 0 18px;
	color: red;
}
